__pycache__/
.vscode/
.ipynb_checkpoints/
.env
*.code-workspace
definitions/*
!definitions/utils
!definitions/reference
schema/*
notebooks/*
templates/*
scripts/*
!scripts/
!*/.gitkeep
config/config.toml
